---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { SITE_TITLE } from "../config";
const title = "Projets - " + SITE_TITLE;
---

<BaseLayout title={title} sideBarActiveItemID="projects">
  <div>
    <h1 class="text-3xl w-full font-bold mb-5">Projets</h1>
  </div>
  <HorizontalCard
    title="Docamate"
    img="/post_img.webp"
    desc="Docamate est votre assistant dédié pour l'analyse et l'audit de votre documentation, permettant à vos équipes d'améliorer continuellement la qualité de cette dernière"
    url="https://docamate.com"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Change-log.cloud"
    img="/post_img.webp"
    desc="Aggrégateur de news des différents providers cloud, résumé technique des derniers changements et suivi de l'impact sur les ressources actuelles ou possibles"
    url="https://change-log.cloud/"
    badge=""
  />
</BaseLayout>
